D:\jupyterlab\hravat-CS231n-CNN-Stanford\CS231n-assignemt1\assignment1\cs231n\datasets
*.gz
CS231n-assignemt1/assignment1/cs231n/datasets/cifar-10-python/*
datasets/cifar-10-python/*
CS231n-assignemt2/assignment2/.ipynb_checkpoints/BatchNormalization-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/ConvolutionalNetworks-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/FullyConnectedNets-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/BatchNormalization-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/FullyConnectedNets-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/BatchNormalization-checkpoint.ipynb
CS231n-assignemt2/assignment2/.ipynb_checkpoints/FullyConnectedNets-checkpoint.ipynb
